<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet" />

  <link
    href="https://fonts.googleapis.com/css?family=Abel|Anton|Josefin+Sans|Josefin+Slab|Lexend+Deca|Livvic|Grenze|Righteous&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/about.css"/>
  <title>Endeavour - Team</title>
</head>

<body>
     
  <!-------------------------Navigation-------------------------->
  <nav class="nav">
    <div class="nav-menu flex-row">
      <div class="nav-brand">
        <a href="#" class="text-gray"><img src="https://endeavoursliet.github.io/org/images/7.png " alt="" width="200px"
            height="200px" /></a>
      </div>      
    </div>
  </nav>
  <!-----------x-------------Navigation------------x------------->
  
  <!------------------------Mentor----------------------------->
  <div class="container>
    <h1 class="heading">Mentor</h1>
    <p class="lead">
      Our esteemed mentor Dr.Ajat Shatru Arora, Professor (EIE Department) has always been a robust support and a strong cornerstone at every kith and kin of the team. Justifying the role, his mentorship plays an essential guidance at every prelude of our team.
      A veteran who has been sharing his knowledge of excellence since 31 years our institute has been a well wisher of the team from the team's inception.
    </p>

    <div class="f-cards ">
      <div class="image-area">
        <div class="img-wrapper">
          <img
            src="../images/Team/arora1.jpg" />
          <h2>Dr.A.S. Arora</h2>
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/ajat-shatru-arora-2956625?originalSubdomain=in" target="_blank"><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <!------------x-----------Mentor-------------x--------------->
  
  <!------------------------FacultyAdvisor----------------------------->
  <div class="founders">
    <h1 class="heading">Faculty Advisor</h1>
    <p class="lead">
      Our respected faculty advisor is a constant support to our team
      who is always present to lend his part of administrative assistant at the time of any obligation. He has been a part of our team from the very beginning & has always justified his role by providing his essential advisories. 
    </p>

    <div class="f-cards ">
      <div class="image-area">
        <div class="img-wrapper">
          <img
            src="../images/Team/amrik2.jpg" />
          <h2>Dr.Amrik Singh</h2>
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/amriksinghhanspal/?originalSubdomain=in" target="_blank"><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <!------------x-----------FacultyAdvisor-------------x--------------->

  <!------------------------Founders----------------------------->
  <div class="founders">
    <h1 class="heading">Founders</h1>
    <p class="lead">
      A team's existence is due to their founders. These visionaries laid the foundation stone to what now has become a family of over 70+ members. A dream that was once considered a delusion, is now taking it's shape that can be weighted by the fact that the team has brought many laurels to the team as well as the institute on a whole.
    </p>

    <div class="f-cards ">
      
      <div class="image-area">
        <div class="img-wrapper">
          <img
            src="../images/Team/ravi-tripathi.JPG" />
          <h2>Ravi Tripathi</h2>
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/ravi-tripathi-95a867106/" target="https://www.linkedin.com/in/ravi-tripathi-95a867106/"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-twitter"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="image-area">
        <div class="img-wrapper">
          <img
            src="../images/Team/vishal.jpg" />
          <h2>Vishal Kumar</h2>
          <ul>
            <li>
              <a href=""><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-twitter"></i></a>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="image-area">
        <div class="img-wrapper">
          <img
            src="../images/Team/ajeet-kumar.JPG" />
          <h2>Ajeet Kumar</h2>
          <ul>
            <li>
              <a href=""><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-twitter"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="image-area">
        <div class="img-wrapper">
          <img
            src="../images/Team/mayank-saini.jpg" />
          <h2>Mayank Saini</h2>
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/mayank-saini-3273b1172" target="https://www.linkedin.com/in/mayank-saini-3273b1172"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-twitter"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="image-area">
        <div class="img-wrapper">
          <img
            src="../images/Team/anurudh.jpg" />
          <h2>Anurudh Sharma</h2>
          <ul>
            <li>
              <a href="https://www.instagram.com/anurudhsharma12/" target="https://www.instagram.com/anurudhsharma12/"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-twitter"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!------------x-----------Founders-------------x--------------->

  <!------------------------Alumni----------------------------->
  <div class="members-area">
    <h1 class="heading">Alumni</h1>
    <p class="lead">
      Alumni are the integral part of the team which provide rock solid support and mentoring at the personal & industrial level. These help to bridge the gap between the personal & corporate worlds resulting in a greater profile build-ups.
    </p>
    <div class="members-grid">
      <% hello4.forEach(function(post){ %>
        <div class="m-card">

          <div class="card-imgs-top" style="background-image: url('<%= post.image %>');";></div>
          <div class="social-links">
            <a href="<%= post.FBlink %>" target="<%= post.FBlink %>" class="ln-social">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="<%= post.LinkedIn %>" target="<%= post.LinkedIn %>"class="ln-social">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
          <div class="m-card-text">
            <p class="m-name"><%= post.userName %></p>
            <p class="designation"><%= post.trade %></p>
            <a href="/member/<%= post.id %>" class="profile">View profile</a>
          </div>
        </div>
      <% }) %>
      </div>
    </div>
  <!------------------------Alumni----------------------------->
  
  <!------------------------Committee----------------------------->
  <div class="members-area">
    <h1 class="heading">Committee</h1>
    <p class="lead">
      The Endeavour committee sits at the top-most level of hierarchy that mainly works in the administrative domain & ensures the overall well-being of the team.    
    </p>
    <div class="members-grid">
      <% hello1.forEach(function(post){ %>
        <div class="m-card">

          <div class="card-imgs-top" style="background-image: url('<%= post.image %>');";></div>
          <div class="social-links">
            <a href="<%= post.FBlink %>" target="<%= post.FBlink %>" class="ln-social">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="<%= post.LinkedIn %>" target="<%= post.LinkedIn %>"class="ln-social">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
          <div class="m-card-text">
            <p class="m-name"><%= post.userName %></p>
            <p class="designation"><%= post.trade %></p>
            <a href="/member/<%= post.id %>" class="profile">View profile</a>
          </div>
        </div>
      <% }) %>
    </div>
    
  </div>
  <!------------------------Committee----------------------------->
  
  
  <!-----------------x---------Coordinators-------------------x-------------->
  <div class="members-area">
    <h1 class="heading">Coordinators</h1>
    <p class="lead">
      Coordinators are the main accountable leaders of the team that work in accordance with the various departmental heads and manage the team on a whole. 
    </p>
    <div class="members-grid">
      <% hello2.forEach(function(post){ %>

        <div class="m-card">

          <div class="card-imgs-top" style="background-image: url('<%= post.image %>');";></div>
          <div class="social-links">
            <a href="<%= post.FBlink %>" target="<%= post.FBlink %>" class="ln-social">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="<%= post.LinkedIn %>" target="<%= post.LinkedIn %>"class="ln-social">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
          <div class="m-card-text">
            <p class="m-name"><%= post.userName %></p>
            <p class="designation"><%= post.trade %></p>
            <a href="/member/<%= post.id %>" class="profile">View profile</a>
          </div>
        </div>
      <% }) %>
    </div>
   </div>
  <!-----------------x---------Coordinators-------------------x-------------->
  
  
  <!------------------------Departmental_Heads----------------------------->
  <div class="members-area">
    <h1 class="heading">Departmental Heads</h1>
    <p class="lead">
      Departmental heads are the sole leaders of their respective departments who ensure that the members working under them work effectively & efficiently.  
    </p>
    <div class="members-grid">
      <% hello3.forEach(function(post){ %>
        <div class="m-card">

          <div class="card-imgs-top" style="background-image: url('<%= post.image %>');";></div>
          <div class="social-links">
            <a href="<%= post.FBlink %>" target="<%= post.FBlink %>" class="ln-social">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="<%= post.LinkedIn %>" target="<%= post.LinkedIn %>" class="ln-social">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
          <div class="m-card-text">
            <p class="m-name"><%= post.userName %></p>
            <p class="designation"><%= post.teamPosition %></p>
            <a href="/member/<%= post.id %>" class="profile">View profile</a>
          </div>
        </div>
      <% }) %>
    </div>
    
  </div>
  <!------------------------Departmental_Heads----------------------------->
  
  
  <!------------------------Members----------------------------->
  <div class="members-area">
    <h1 class="heading">Members</h1>
    <p class="lead">
      These are the main squaddies of the team who put their strenous efforts to squeeze out the possible among the impossible. These are the ones that determine the team's existence & form reason to be honoured upon. 
    </p>
    <div class="members-grid">
      <% hello.forEach(function(post){ %>
        <div class="m-card">

          <div class="card-imgs-top" style="background-image: url('<%= post.image %>');";></div>
          <div class="social-links">
            <a href="<%= post.FBlink %>" target="<%= post.FBlink %>" class="ln-social">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="<%= post.LinkedIn %>" target="<%= post.LinkedIn %>"class="ln-social">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
          <div class="m-card-text">
            <p class="m-name"><%= post.userName %></p>
            <p class="designation"><%= post.trade %></p>
            <a href="/member/<%= post.id %>" class="profile">View profile</a>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
  <!------------------------Members----------------------------->
  
  <!---------------------end_of_about_team---------------------->
</body>
</html>
